html, body {
  height: 80%;
  margin: 0 auto;
}
.container{
  position: relative;
  display: flex;
}
.mission {
  z-index: 9;
  margin-top: 120px; margin-left: 550px;
}
.game {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 2;
}
.phase_display {
  z-index: 9;
  margin-top: 120px; margin-left: 500px;
}
.phaseBody {
  width: 350px;
  height: 250px;
  background: lightgray;
  top: 1px;
  position: relative;
  margin: 0 auto;
  font-family: 'Alfa Slab One', sans-serif;
  font-size: 1em;
  z-index: 6;
  border: 4px solid black;
  border-radius: 5px;
  color: black;
  text-shadow: none;
  text-align: center;
}
.phase_title {
  font-size: 1em;
  color: black;
  font-weight: bold;
  text-shadow: 3px 3px white;
  margin-left: 10px ;
}
.mission_title {
  font-weight: bold;
  font-size: 1.5em;
}
.close_mission {
  background-color: #222222;
  color: white;
  border-radius: 6px;
  width: 130px;
  height: 30px;
}
.phase {
  color: black;
  font-weight: bold;
  border-radius: 6px;
  width: 150px;
  height: 30px;
  background-color: honeydew;
}
.missionbody {
  width: 200px;
  height: 240px;
  background: lightgray;
  top: 1px;
  position: relative;
  margin: 0 auto;
  font-family: 'Alfa Slab One', sans-serif;
  font-size: 1em;
  z-index: 6;
  border: 4px solid black;
  border-radius: 5px;
  color: black;
  text-shadow: none;
  text-align: center;
}
.bar {
  border-radius: 0.2em;
  border-width:14px;
  padding-left:9px;
  padding-top:6px;
  padding-bottom:6px;
  display: inline-block;
  margin-top:40px;
  margin-left:60px;
  width:700px;
  height: 15px;
}
.mapdiv {
  float: left;
  margin-top: -100px;
}
svg{
  width: 900px;
  height: 620px;
}
.unit {
  font-size: 1.2em;
  font-family: "Alfa Slab One", sans-serif;
  fill: #fff;
}
.players_info {
  margin-top: -50px;
  width: 190px;
  text-align: left;
  float: right;
}
.players_info div {
  border: 2px solid #222;
  padding: 3px 5px;
  text-shadow: 0px 0px #222;
  margin: 5px 0;
  border-radius: 5px;
}
.players_info p{
  margin-top: 0px;
  margin-bottom: 2px;
}
.reservelabel {
  font-weight: bold;
  font-size: 1.05em;
}
.playname{
  font-weight: bold;
  color: black;
  font-size: 1.25em;
  text-shadow: none;
}
.player1 {
  background:  #00008B;
}

.player2 {
  background: #9932CC;
}

.player3 {
  background: #F08080;
}

.player4 {
  background: #3CB371;
}

.player5 {
  background:  #FF0000;
}

.player6 {
  background: #CD853F;
}
.card_mission_button {
  background-color: #778899;
  border-radius: 4px;
  font-weight: bold;
}
